* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
.form {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  max-width: 500px;
  max-height: 200px;
  padding: 10px;
  /* align-items: center; */
}
input{
  outline: none;
  border: 1px solid wheat;
  margin: 5px;
}
input:placeholder-shown{
  font-size: 18px;
  font-weight: 500;
}

button{
  cursor: pointer;
  border: 1px solid olivedrab;
  border-radius: 5px;
}
